html {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

body {
    font-size: 18px;
}


header {
    background: rgba(94, 157, 217, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(94, 157, 217, 1) 0%, rgba(43, 106, 173, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(94, 157, 217, 1)), color-stop(100%, rgba(43, 106, 173, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(94, 157, 217, 1) 0%, rgba(43, 106, 173, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(94, 157, 217, 1) 0%, rgba(43, 106, 173, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(94, 157, 217, 1) 0%, rgba(43, 106, 173, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(94, 157, 217, 1) 0%, rgba(43, 106, 173, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#5e9dd9', endColorstr='#2b6aad', GradientType=1);
    margin-top: nav
}

#myCarousel {
    height: 805px;
}

.item {
    height: 670px;
    padding: 10px;
}

.item img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.noscroll {
    overflow: hidden;
}

.container {
    padding: 40px;
}

/* .navbar {
    z-index: 2;
}

.navbar.navbar-inverse {
    background-color: #000;
}

.navbar.navbar-fixed-top {
    position: absolute;
}

.navbar.scroll-hide {
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.navbar.scroll-fix {
    position: fixed;
    opacity: .99;
    transition: opacity .25s ease-in-out;
}

.navbar .navbar-brand img {
    height: 35px;
    margin-top: -7.5px;
    float: left;
    margin-right: 10px;
} */

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(255,255,255,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 80px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: white;
    height: 80px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color:#000;
    padding: 30px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #000;
    padding: 30px;
}

@media (max-width: 800px) {

   .navbar-inverse .navbar-nav>li>a {
    color: #000;
}

    .nav>li {
        position: relative;
        display: block;
        background-color: rgba(255,255,255);
    }

  .opaque-navbar {
    background-color: white;
    height: 60px;
    transition: background-color .5s ease 0s;
}

.pull-right {
    float: right!important;
    width: 300px;
    border: solid;
}

.navbar-toggle {
    background-color: #000;
    border-color: #333;
    color: white;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    color: white;
}


}


.jumbotron {
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("http://imisscoffee.link/images/upaf5C3.gif");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.jumbotron .cta-light {
    color: #77acd9;
}

img {
    max-width: 100%;
}

.business-name {
    display: none;
}

.figure {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color .5s;
}

.figure .figure-caption {
    color: #777;
    margin: 10px 0;
}

.figure.overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100vw;
    padding: 10vh 10px 0;
    margin-top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    border: 0px;
    border-radius: 0;
    overflow-y: scroll;
}

.figure.overlay img {
    width: auto;
}

.figure.overlay figcaption {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}



footer {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+66,7db9e8+100 */
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 66%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 66%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 66%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */            
        color: #999;
        padding: 20px 0px;
    }

    .legal {
        font-size: .75em;
        color: #4d6283;
    }

    footer a .fa {
        font-size: 4em;
        display: inline-block;
        margin: 30px;
    }

    footer a:link,
    a:visited {
        color: #fff;
    }

    footer a:hover,
    a:active {
        color: orange;
    }

    .small{
        color: #fff;
    }

.img-circle{
    width: 300px;
    max-width: 100%;
    margin: .25em 0 1em 1em;
    border: 10px solid #fff;
    box-shadow: 0px 0px 2px #555;
}
